@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
}

.blue-gradient {
  background: linear-gradient(102deg, #cce4f7 27.53%, #abf0f8 90.22%);
}

.black-gradient {
  background: linear-gradient(
    130deg,
    #393a35 27.38%,
    rgba(57, 58, 53, 0) 298.28%
  );
}

.black-gradient:hover {
  background-color: #393a35;
}
